body{
background: #0e1e2e;
font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #dbe1e9;
}
h2{
  font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #708195;
}
.title-container{
  display: flex;
  align-items: center;
  gap: 16px;
}